<h1>{{name}}</h1>
<h2>{{description}} </h2>
<div class="blocks">

    <div class = "block">
        <h3><i class="fas fa-mortar-pestle"></i></h3>
        <h3>Café</h3>
        <ul>
            <li>Grind: {{grind}} </li>
            <li>Weight: {{weight}}</li>
        </ul>
    </div>

    <div class = "block">
        <h3><i class="fas fa-tint"></i></h3>
        <h3>Eau</h3>
            <ul>
                <li>Température: {{temperature}} </li>
                <li>Type d'eau: {{water}}</li>
            </ul>
    </div>

    

    <div class = "block">
        <h3><i class="fas fa-glass-whiskey"></i></h3>
        <h3>Extraction</h3>
            <ul>
                <li>Méthode: {{extraction}}</li>
                <li>Infusion
                    <ol>
                        {{#each infusion}}
                        <li>{{this.volume}} mL during {{this.time}} seconds</li>
                        {{/each}}
                    </ol>
                </li>
            </ul>
    </div>

</div>


    <h2>Comments</h2>

<div class = "block-comment">

        <input class="block" type="text" id="comment" name="content" value="add your comments">
        <input id="recipe" type="hidden" name="recipe" value="{{_id}}">
        <button type="button" id="btn-comment">Comment</button>
</div>